fastapi
uvicorn
langgraph
langchain
langchain-community
langchain-groq
groq
chromadb
splunk-sdk
requests
pydantic-settings
python-dotenv
python-multipart
pydantic
sentence-transformers
pypdf
pandas
psycopg2-binary
sqlalchemy
